body{
  overflow-x: unset;
  font-family: Roboto, sans-serif;
}
.fill{
  background-image: url("../assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 70%;
  min-height: 70vh;
  height: 70vh;
  position: relative;
}
.introSection{
  justify-content: center;
  height: fit-content;
  width: 100%;
  margin-bottom: 5%;
}
.title{
  color: black;
  position: absolute;
  bottom: 120px;
  right: 50px;
  text-shadow: 1px 1px 4px darkgray;
}
.subtitle{
  color: black;
  position: absolute;
  bottom: 80px;
  right: 50px;
  text-shadow: 1px 1px 4px darkgray;
}
.sidebar{
  top: 40px;
}
.nav-link{
  color: black;
  font-weight: bold;
}
.nav-link.active{
  color: black !important;
  text-decoration: underline;
  background-color: white !important;
}
.nav-link:hover{
  color:#6e64ff;
}
.sidecol{
  display: unset;
}
h4{
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3{
  font-size: 18px;
  text-align: center;
  font-style: italic;
  padding: 5%;
}
.slideimage{
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.prototypecard{
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
  max-width: 700px;
}
.card-title{
  font-size: 1.3em;
}
.card-text{
  font-size: 1.1em;
}
.card-body{
  padding-top: 15%;
}
.blockquote{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
}
.blockquote-footer{
  margin-top: auto;
}
.button-link{
  text-decoration: none !important;
}
.prototypebutton{
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #6e64ff;
  border: 2px solid #6e64ff !important;
}
.prototypebutton:hover{
  background-color: white;
  color: #6e64ff;
  border: 2px solid #6e64ff !important;
}
.figure{
  margin-bottom: 5px;
}
figcaption{
  margin-bottom: 10px;
}
.subgroup-ul{
  display: none;
}
.container-fluid{
  padding: 0;
}
/* hide sidebar */
@media only screen and (max-width:1179px){
  .sidebar{
    visibility: hidden;
  }
}